.users-list-item {
    background-color: #fff;
    border-radius: 5px;
    width: 60%;
    box-shadow: 0 2px 2px #ccc;
    margin: 10px auto;
    min-width: 400px;
    max-width: 1200px;
    height: 150px;
}

.users-list-item .user-link {
    display: flex;
    flex-direction: row;
    height: 100%;
    border-bottom: none;
}

.users-list-item .img-wrapper {
    width: 200px;
    overflow: hidden;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.users-list-item img {
    width: 200px;
}

.users-list-item .user-info {
    margin-top: 30px;
}

.users-list-item .user-info .username{
    color: #777;
}