@import "~styles/variables.scss";

.search {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .current-location-cat {
    text-align: center;
    margin-top: 3rem;
    span {
      margin-bottom: 2rem;
      display: block;
    }
  }

  form {
    display: flex;
    flex-direction:row;
    input {
      flex-grow:2;
      text-align: center;
      font-size: 3rem;
      padding: .7rem 2rem;
      border-radius: 2px;
      background-color: rgba($color-white, .5);
      border: none;
      color: inherit;
      font-family: inherit;
      width: 100%;
      display: block;
      border-bottom-color: transparent;
      transition: all .3s;
      border-bottom: 1px solid $color-secondary;
      padding-left: 5rem;

      &:focus {
        outline: none;
      }
      &::-webkit-input-placeholder {
        color: $color-terniary;
      }
    }
    .btn-search {
      border: none;
      background: transparent;
      color: $color-secondary;
      position: relative;
      outline: none;
      left: -3rem;
      &:hover {
        color: $color-primary
      }
    }
  }
}