/* ---------------------------------- */
/* Basic setup */
/* ---------------------------------- */

/* blue #4a76a8; */
/* grey #656565 */
/* black #000 */
/* link-color #2a5885 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    background-color: #f4f4f4;
}
.clearfix {  zoom: 1;  }
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* ---------------------------------- */
/* Reusable components */
/* ---------------------------------- */

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 300;
}

h1 {
    color: #fff;
    font-size: 2.4rem;
    word-spacing: 4px;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.8rem;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 10px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #4a76a8;
    content: "";
    width: 100px;
    margin: 15px auto;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

section {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}


.box p {
    font-size: 90%;
    line-height: 145%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* ---------------------------------- */
/* Links */
/* ---------------------------------- */

a:link,
a:visited {
    color: #2a5885;
    text-decoration: none;
    border-bottom: 1px solid #2a5885;
    padding-bottom: 1px;
    transition: color .2s, border-color .2s;
}

a:hover,
a:active {
    color: #2a5885;
    border-color: transparent;
}




.btn,
.btn:active {
    background-color: #4a76a8;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all .1s;
    outline: none;
}

.btn:hover {
    background-color: #7199C5;
}

/* ---------------------------------- */
/* Forms */
/* ---------------------------------- */

.form-section {
    background-color: #fff;
    border-radius: 5px;
    width: 60%;
    box-shadow: 0 2px 2px #ccc;
    margin: 10px auto;
    min-width: 300px;
    max-width: 1200px;
    padding: 20px;
}

input {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000;
}

.error-wrapper {
    height: 20px;
    line-height: 20px;
    color: lightcoral;
    font-size: 0.8rem;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8px 0;
    line-height: 40px;
}
.form-row .right{
    flex: 1 1 60%;
}
.form-row .left{
    flex: 1 1 40%;
    text-align: right;
}
.form-label {
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}

